<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new Candidate</title>
</head>
<body>
<h1>Add new Candidate</h1>
<form action="#" th:action="@{/candidates/save}" th:object="${candidate}" method="post">
    <table>
        <tr>
            <td><label for="full_name">Name:</label></td>
            <td><input type="text" id="full_name" name="full_name" th:field="*{fullName}"></td>
        </tr>
        <tr>
            <td><label for="email">Email:</label></td>
            <td><input type="text" id="email" name="email" th:field="*{email}"></td>
        </tr>
        <tr>
            <td><label for="dob">Date of Birth:</label></td>
            <td><input type="date" id="dob" name="dob" th:field="*{dob}"></td>
        </tr>
        <tr>
            <td><label for="phone">Phone number:</label></td>
            <td><input type="text" id="phone" name="phone" th:field="*{phone}"></td>
        </tr>
        <tr>
            <td><input type="hidden"></td>
            <td><label>Number</label></td>
            <td><label>Zipcode</label></td>
            <td><label>Street</label></td>
            <td><label>City</label></td>
            <td><label>Country</label>

        </tr>
        <tr>
            <td><label>Address:</label></td>
            <td><input type="text" id="address"  th:field="*{address.number}"></td>
            <td><input type="text" id="zipcode"  th:field="*{address.zipcode}"></td>
            <td><input type="text" id="street"  th:field="*{address.street}"></td>
            <td><input type="text" id="city"  th:field="*{address.city}"></td>
            <td>
                <select id="country"  th:field="*{address.country}">
                    <option th:each="Country : ${country}"
                            th:value="${Country.getAlpha2()}"
                            th:text="${Country.getName()}">
                    </option>
                </select>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                <input type="submit" value="Add Candidate">
            </td>
        </tr>
    </table>
</body>
</html>